[Unit]
Description=Timer which runs the battery service periodically

[Timer]
OnBootSec=1m
OnUnitActiveSec=1m
Unit=battery_status.service

[Install]
WantedBy=timers.target
