[SetCommand]
# Only necessary if prompted by the program
setcommand = /etc/i3/userscripts/createwallpaper.sh

[Options]
subs = earthporn,spaceporn,wallpapers,minimalwallpapers,exposureporn,skyporn
minwidth = $res_x
minheight = $res_y
maxlinks = 100
resize = True
random = True

[Title Overlay]
settitle = True
titlesize = 24
titlealignx = right
titlealigny = top
titleoffsetx = 5
titleoffsety = 5

[Startup]
attempts = 10
interval = 10

[Save]
directory = ~/Pictures/Wallpapers
